.view-orders-container {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .view-orders-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .orders-table th,
  .orders-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .orders-table th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .orders-table td select {
    padding: 5px;
    font-size: 14px;
  }
  .Update{
    color:white;
    font-size: 11px;
    padding-left: 20px;

  }